@media (max-width: 820px){
    .App{
      padding: 10px 0;
    }
    .filter_menu{
      flex-direction: column;
    }
  }
  
  @media (max-width: 720px){
    .filter_menu {
      width: 100%;
    }
  }
  
  @media (max-width: 500px){
    .App{
      padding: 0 10px;
    }
    .detail{
      font-size: 100%;
      padding: 0;
    }
    .filter_menu input{
      margin: 0;
    }
    .filter_menu .sort{
      flex: 1;
    }
    .filter_menu select{
      margin: 10px;
    }
    .filter_menu .sort select{
      width: 100%;
      min-width: 200px;
      margin: 10px;
    }
    .login-page{
      padding: 30px 15px;
    }
    .delete-all{
      margin: 20px 0;
    }
    .create_product .upload{
      margin: 20px 0;
    }
  }